---
import { Image } from "astro:assets";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import GradiantText from "../shared/GradiantText.astro";
import { solutions } from "../../utils/data.ts";

type SolutionsProps = {
  title: string;
  painPoint: string;
  agitatepainPoint: string;
  solution: string;
  img: ImageMetadata;
};

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section id="solutions" class={`flex flex-col ${className}`}>
  {
    solutions.map((solution: SolutionsProps, index: number) => {
      const oddIndex = index % 2 === 0;
      const flexRow = oddIndex ? "md:flex-row-reverse" : "md:flex-row";
      const bgColor = oddIndex ? "bg-orange-100" : "bg-transparent";

      return (
        <div class={`w-full py-10 md:py-16 ${bgColor}`}>
          <Container>
            <div
              class={`flex flex-col gap-10 lg:gap-12 ${flexRow} mx-auto max-w-7xl w-full`}
            >
              {/* Text Column */}
              <div class="max-w-md mx-auto w-11/12 flex-1 flex md:w-7/12 lg:w-1/2 flex-col">
                <Title>
                  <GradiantText>{solution.title}</GradiantText>
                </Title>
                <Paragraph className="mt-8 font-medium text-lg md:text-2xl">
                  {solution.painPoint}
                </Paragraph>
                <Paragraph className="mt-3">
                  {solution.agitatepainPoint}
                </Paragraph>
                <Paragraph className="mt-3 font-medium">
                  {solution.solution}
                </Paragraph>
              </div>

              {/* Image Column */}
              <div class="max-w-md mx-auto md:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 md:w-5/12 lg:w-1/2 md:h-auto">
                <div class="w-full h-80 sm:h-96 md:h-full relative">
                  <Image
                    src={solution.img}
                    alt="solution image"
                    width={1240}
                    height={1385}
                    class="w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full rounded-3xl object-cover"
                  />
                </div>
              </div>
            </div>
          </Container>
        </div>
      );
    })
  }
</section>
