---
import { Image } from "astro:assets";
import GroupFooterNav from "../components/blocks/GroupFooterNav.astro";
import Container from "../components/shared/Container.astro";
import FooterNav from "../components/shared/FooterNav.astro";
import Paragraph from "../components/shared/Paragraph.astro";
import { Facebook, Linkedin, Twitter, Github } from "lucide-react";

const footerNav1 = [
  {
    itemText: "Marketing",
    itemLink: "#",
  },
  {
    itemText: "Analylitics",
    itemLink: "#",
  },
  {
    itemText: "Insights",
    itemLink: "/blog",
  },
];

const footerSupport = [
  {
    itemText: "Contact",
    itemLink: "/contact-us",
  },
];

const footerCompany = [
  {
    itemText: "Blog",
    itemLink: "/blog",
  },
  {
    itemText: "Partners",
    itemLink: "/partners",
  },
  {
    itemText: "Jobs",
    itemLink: "/jobs",
  },
];
const footerLegal = [
  {
    itemText: "Privacy Policy",
    itemLink: "/privacy-policy",
  },
  {
    itemText: "Terms & Conditions",
    itemLink: "/terms-and-conditions",
  },
];

const links = [
  { label: "Facebook", href: "#", Icon: Facebook },
  { label: "LinkedIn", href: "#", Icon: Linkedin },
  { label: "X/Twitter", href: "#", Icon: Twitter },
  { label: "GitHub", href: "#", Icon: Github },
];
---

<div class="relative">
  <footer
    class="relative bg-gradient-to-tr from-slate-100 to-zinc-200 py-6 backdrop-blur-md"
  >
    <Container className="py-10 relative overflow-auto ">
      <div
        class="grid grid-cols-2 lg:grid-cols-3 lg:items-stretch gap-8 relative"
      >
        <div class="col-span-2 lg:col-span-1 h-auto flex flex-col">
          <div class="h-full">
            <a href="/" class="relative flex items-center gap-3">
              <Image
                src="/Protize.png"
                alt="Protize Logo"
                width={180}
                height={100}
              />
            </a>

            <Paragraph className={"mt-6"}>
              Protize delivers innovative tech solutions for modern digital
              business needs.
            </Paragraph>
          </div>

          <!-- social links -->
          <div class="mt-6 flex min-h-max items-center gap-4 text-heading-3">
            {
              links.map(({ label, href, Icon }) => (
                <a
                  href={href}
                  aria-label={label}
                  class="inline-flex items-center justify-center transition-transform transition-colors duration-300 hover:text-blue-700 hover:scale-150"
                  target="_blank"
                  rel="noreferrer"
                >
                  <Icon className="h-5 w-5" />
                  <span class="sr-only">{label} link</span>
                </a>
              ))
            }
          </div>
        </div>

        <GroupFooterNav>
          <FooterNav title={"Company"} navItems={footerCompany} />
          <FooterNav title={"Solutions"} navItems={footerNav1} />
        </GroupFooterNav>

        <GroupFooterNav>
          <FooterNav title={"Support"} navItems={footerSupport} />
          <FooterNav title={"Ressources"} navItems={footerLegal} />
        </GroupFooterNav>
      </div>
    </Container>
    <div class="py-2 relative">
      <Container>
        <div
          class="flex justify-center items-center gap-6 md:text-lg text-heading-3"
        >
          <div>
            &copy; <span id="year"></span> Protize. All right reserved
          </div>
        </div>
      </Container>
    </div>
  </footer>
</div>
